/* themes.css */
:root {
    --gradient-high: #f1f3ff;
    --gradient-low: #cdb4ff;

    --primary-color: #6200ea;
    --contrast-color: #eef2ff;

    --action-color: black;
    --faded-action-color: #6c757d;
    --caution-color: #d32f2f;

    --pass: green;
    --fail: red;

    /* fallback */
}


.theme-default {
    --gradient-high: #f1f3ff;
    --gradient-low: #cdb4ff;

    --primary-color: #6200ea;
    --contrast-color: #eef2ff;

    --pointer-color: black;
    --faded-color: #6c757d;
    --caution-color: #d32f2f;

    --pass: green;
    --fail: red;
}

.theme-grey {
    --gradient-high: #f1f3ff;
    --gradient-low: #dadada;

    --primary-color: #444444;
    --contrast-color: #dddddd;

    --pointer-color: black;
    --faded-color: #6c757d;
    --caution-color: #d32f2f;

    --pass: green;
    --fail: red;
}

.theme-blue {
    --gradient-high: #e2e2e4;
    --gradient-low: #c0bfc9;

    --primary-color: #186ceb;
    --contrast-color: #e7e7ee;

    --pointer-color: black;
    --faded-color: #6c757d;
    --caution-color: #d32f2f;

    --pass: green;
    --fail: red;
}

.theme-orange {
    --gradient-high: #ffee05;
    --gradient-low: #f18406;

    --primary-color: #f05011;
    --contrast-color: #f6ff7b;

    --pointer-color: black;
    --faded-color: #6c757d;
    --caution-color: #d32f2f;

    --pass: green;
    --fail: red;
}