.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.content {
    margin-left: 250px;
}

.progress {
    height: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    transition: width 0.3s ease-in-out;
}

.delete-credential i {
    cursor: pointer;
    color: #000;
    /* Default color */
}

.delete-credential:hover i {
    color: red;
    /* Change color on hover */
}