{% extends 'base.html' %}
{% block title %}Credentials{% endblock %}
{% block content %}
<h1>Known SSH Credentials</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Expires?</th>
        </tr>
    </thead>
    <tbody>
        {% for credential in credentials %}
        <tr>
            <td>{{ credential.id }}</td>
            <td>{{ credential.uname }}</td>
            <td>********</td>
            <td>{{ 'Yes' if credential.pwexpiry else 'No' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Add Credentials</h2>
<form id="credentialForm" class="mb-4">
    <div class="mb-3">
        <label for="uname" class="form-label">Username</label>
        <input type="text" class="form-control w-25" id="uname" name="uname" required>
    </div>
    <div class="mb-3 position-relative">
        <label for="pw" class="form-label">Password<button type="button"
                class="btn btn-outline-secondary toggle-password" style="border: none;">
                <i class="bi bi-eye"></i>
            </button></label>
        <input type="password" class="form-control w-25 me-2" id="pw" name="pw" required>

    </div>
    <div class="mb-3">
        <input type="checkbox" id="pwexpiry" name="pwexpiry">
        <label for="pwexpiry">Password expires?</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#credentialForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/credentials',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    alert(response.message);
                    location.reload();
                },
                error: function () {
                    alert('Error adding credentials');
                }
            });
        });
        // Toggle password visibility
        $('.toggle-password').click(function () {
            const passwordInput = $('#pw');
            const icon = $(this).find('i');
            if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                icon.removeClass('bi-eye').addClass('bi-eye-slash');
            } else {
                passwordInput.attr('type', 'password');
                icon.removeClass('bi-eye-slash').addClass('bi-eye');
            }
        });
    });
</script>
{% endblock %}