{% extends 'base.html' %}
{% block title %}Devices{% endblock %}
{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<h1>Devices</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>Site Info</th>
            <th>Mgmt IP</th>
            <th>SSH User</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{ device.id }}</td>
            <td>{{ device.hostname }}</td>
            <td>{{ device.siteinfo }}</td>
            <td>{{ device.mgmtip }}</td>
            <td>{{ device.username.username if device.username else "N/A" }}</td>
            <td>
                <button class="delete-device" data-id="{{ device.id }}"
                    style="background: none; border: none; padding: 0;">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('device_add') }}" class="btn btn-primary">Add Device</a>


{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#deviceForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/devices',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    alert(response.message);
                    location.reload();
                },
                error: function () {
                    alert('Error adding device');
                }
            });
        });

        // Delete device
        // Delete device
        $('.delete-device').click(function () {
            const deviceId = $(this).data('id');
            if (confirm('Are you sure you want to remove this device?')) {
                $.ajax({
                    url: '/delete_device/' + deviceId,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')  // Include CSRF token
                    },
                    success: function (response) {
                        alert(response.message);
                        location.reload();
                    },
                    error: function (xhr) {
                        alert('Error removing device: ' + xhr.responseText);
                    }
                });
            }
        });
    });
</script>
{% endblock %}