<!-- Mobile sidebar button -->
<button class="sidebar-menu-button">
    <span class="material-symbols-rounded">menu</span>
</button>

<aside class="sidebar">
    <!-- Sidebar Header -->
    <header class="sidebar-header">
        <a href="#" class="header-logo">
            <img src="{{ url_for('static', filename='icons/rntlogo.png') }}" alt="Roger's Network Tools">
        </a>
        <button class="sidebar-toggler">
            <span class="material-symbols-rounded">chevron_left</span>
        </button>
    </header>

    <nav class="sidebar-nav">
        <ul class="sb-nav-list primary-nav">
            <li class="sb-nav-item">
                <a href="{{ url_for('device_list') }}" class="sb-nav-link">
                    <span class="material-symbols-rounded sb-rotate-icon-45" aria-label="Router">drag_pan</span>
                    <span class="sb-nav-label">Manage Devices</span>
                </a>
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a href="{{ url_for('device_list') }}" class="sb-nav-link">
                            <span class="sb-dropdown-title">Manage Devices</a>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Dropdown -->
            <li class="sb-nav-item sb-dropdown-container">
                <a href="#" class="sb-nav-link sb-dropdown-toggle">
                    <span class="material-symbols-rounded">add_task</span>
                    <span class="sb-nav-label">Manage Tests</span>
                    <span class="sb-dropdown-icon material-symbols-rounded">keyboard_arrow_down</span>
                </a>
                <!-- Dropdown Menu -->
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a class="sb-nav-link sb-dropdown-title">Manage Tests</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('showtests_bgpaspath') }}" class="sb-nav-link sb-dropdown-link">BGP
                            AS-Path</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('showtests_traceroute') }}"
                            class="sb-nav-link sb-dropdown-link">Traceroute</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('showtests_txrxtransceiver') }}" class="sb-nav-link sb-dropdown-link">TxRx
                            SFP
                            Transceiver</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('showtests_itraceroute') }}" class="sb-nav-link sb-dropdown-link">ACI
                            iTraceroute</a>
                    </li>
                </ul>
            </li>
            <li class="sb-nav-item">
                <a href="{{ url_for('run_tests') }}" class="sb-nav-link">
                    <span class="material-symbols-rounded">play_circle</span>
                    <span class="sb-nav-label">Run Tests</span>
                </a>
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a href="{{ url_for('run_tests') }}" class="sb-nav-link">
                            <span class="sb-dropdown-title">Run Tests</a>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Dropdown -->
            <li class="sb-nav-item sb-dropdown-container">
                <a href="#" class="sb-nav-link sb-dropdown-toggle">
                    <span class="material-symbols-rounded">rubric</span>
                    <span class="sb-nav-label">View Results</span>
                    <span class="sb-dropdown-icon material-symbols-rounded">keyboard_arrow_down</span>
                </a>
                <!-- Dropdown Menu -->
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a class="sb-nav-link sb-dropdown-title">View Results</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="#" class="sb-nav-link sb-dropdown-link">Your Tests</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="#" class="sb-nav-link sb-dropdown-link">ALL Tests</a>
                    </li>
                </ul>
            </li>
            <li class="sb-nav-item">
                <a href="#compare-results" class="sb-nav-link">
                    <span class="material-symbols-rounded">text_compare</span>
                    <span class="sb-nav-label">Compare Results</span>
                </a>
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a href="#compare-results" class="sb-nav-link">
                            <span class="sb-dropdown-title">Compare Results</a>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Secondary Bottom Nav -->
        <ul class="sb-nav-list secondary-nav">
            <!-- Dropdown -->
            <li class="sb-nav-item sb-dropdown-container">
                <a href="#" class="sb-nav-link sb-dropdown-toggle">
                    <span class="material-symbols-rounded">settings</span>
                    <span class="sb-nav-label">Settings</span>
                    <span class="sb-dropdown-icon material-symbols-rounded">keyboard_arrow_down</span>
                </a>
                <!-- Dropdown Menu -->
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a class="sb-nav-link sb-dropdown-title">Settings</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="#" class="sb-nav-link sb-dropdown-link">Change Your Password</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('credentials') }}" class="sb-nav-link sb-dropdown-link">Device
                            Credentials</a>
                    </li>
                    <li class="sb-nav-item">
                        <a href="{{ url_for('create_user') }}" class="sb-nav-link sb-dropdown-link">Add User</a>
                    </li>
                </ul>
            </li>
            <li class="sb-nav-item">
                <a href="{{ url_for('logout') }}" class="sb-nav-link">
                    <span class="material-symbols-rounded">logout</span>
                    <span class="sb-nav-label">Sign Out</span>
                </a>
                <ul class="sb-dropdown-menu">
                    <li class="sb-nav-item">
                        <a href="{{ url_for('logout') }}" class="sb-nav-link">
                            <span class="sb-dropdown-title">Sign Out</a>
                        </a>
                    </li>
                </ul>
            </li>
    </nav>
</aside>